html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}

header {
  background-color: black;
  display: flex;
  align-content: center;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  justify-content: flex-start;
}

header .container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 960px;
}

header img {
  height: 1.5rem;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 1rem;
  display: inline-block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.banner {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-size: cover;
  height: 25rem;
  width: 100%;
  align-items: center;
}

.banner .overlay {
  background-color: black;
  display: block;
  width: 20rem;
}

.banner .overlay p {
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
}

.banner .overlay h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.25rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

nav {
  background-color: firebrick;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav div {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

nav span {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  display: inline-block;
}

.tablet {
  display: none;
}

.block {
  background-color: black;
  color: white;
}

.products {
  display: flex;
  background-color: white;
  justify-content: space-between;
}

.item {
  display: block;
  margin-top: 3rem;
  width: 30%;
}

.products .item-image {
  height: 9rem;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-image img {
  max-width: 8em;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .block {
  padding: 0.5rem;
  text-align: center;
  display: block;
}

.location-hours {
  display: flex;
  background-color: white;
  justify-content: space-between;
}

.info {
  margin-top: 3rem;
  width: 35%;
  color: black;
  margin-bottom: 3rem;
  display: block;
}

.location-hours .block {
  padding: 1rem 2rem;
}

footer {
  display: flex;
  background-color: black;
  padding: 5rem 0;
  width: 100%;
  align-content: center;
  justify-content: flex-start;
  position: fixed;
  margin-top: 4rem;
  margin-bottom: 0;
}

footer .container {
  display: flex;
  justify-content: flex-start;
  width: 960px;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
  .banner .overlay p {
    font-size: 1rem;
  }
  .banner .overlay h1 {
    font-size: 2rem;
  }

  .tablet {
    display: block;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  nav div {
    display: none;
  }

  .item {
    width: 47%;
}

  div.item.glasses{
    display: none;
    visibility: hidden;
}
}

@media only screen and (max-width: 470px) {
  header .container {
    justify-content: center;
  }

  header span {
    display: none;
  }

  .banner {
    height: 15rem;
  }

  .banner .overlay {
    margin-top: 10rem;
    width: 100%;
  }

  .banner .overlay p {
    font-size: 0.77rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .banner .overlay h1 {
    font-size: 1rem;
    margin-left: 2rem;
  }

  .tablet {
    display: block;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  nav div {
    display: none;
  }

  .item, .info {
    width: 90%;
}

  div.item.glasses{
    display: none;
    visibility: hidden;
}

  div.item.watch{
    display: none;
    visibility: hidden;
}

.products, .location-hours {
  flex-wrap: wrap;
  justify-content: center;
}

footer .container {
  justify-content: center;
}

}
